@charset "UTF-8";
/* Paleta de Colores */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
/* Paleta de Colores */
/* Estilos del Menú principal */
.menu {
  color: #000;
  font-size: 2rem; }

/* Borde de color a menu hamburguesa */
.navbar {
  --bs-navbar-toggler-border-color: red; }

/* Estilos para botón Buscar */
.btnBuscar {
  background-color: #2EA67A;
  color: white;
  border: 3px outset #2EA67A;
  font-size: 1rem; }
  .btnBuscar:hover {
    transform: scale(0.8, 0.8); }

/* Bucle para definir estilos del mapa redesSociales */
.btn--facebook {
  color: #3b5998;
  font-size: 2rem;
  margin: 5px; }

.btn--instagram {
  color: #833AB4;
  font-size: 2rem;
  margin: 5px; }

.btn--twitter {
  color: #1DA1F2;
  font-size: 2rem;
  margin: 5px; }

footer {
  margin-top: 20px; }

.colPiePagina ul {
  padding-left: 0; }

.colPiePagina ul li {
  list-style-type: none; }

.enlaces {
  color: #2E3159;
  text-decoration: none; }

.copyright {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  padding: 10px;
  background: linear-gradient(#191659, black); }

/* Reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif; }

/*  ------------------------ MAIN Página INDEX ------------------------ */
.servicios {
  padding: 12px; }

.tituloCategoriasDestacadas {
  text-align: center;
  margin: 10px 0 10px 0; }

.botas:hover {
  transform: scale(1.1, 1.1);
  margin-left: 35px; }

.cascos:hover {
  transform: scale(1.1, 1.1); }

.guantes:hover {
  transform: scale(1.1, 1.1);
  margin-left: -35px; }

.marcas {
  margin-top: 10px; }

.marcas img {
  border-radius: 5px; }

.tituloPromoPrincipal {
  text-align: center;
  color: #fff;
  font-weight: 700;
  background: linear-gradient(#000, #D92525);
  padding: 20px; }

.tituloPromoSecundario {
  text-align: center;
  color: #fff;
  font-weight: 700;
  background: linear-gradient(#000, #2EA67A);
  padding: 20px; }

.tituloProductosMasVendidos {
  text-align: center;
  margin: 10px 0 10px 0; }

.productoMasVendido {
  margin: 15px;
  border: 3px outset #730202;
  width: 450px; }

.nombreProducto {
  color: #000;
  font-weight: bold;
  text-align: center;
  font-size: 1.8rem; }

.precioProducto {
  color: #730202;
  margin: 5px;
  text-align: center;
  font-size: 1.2rem; }

.card-body {
  text-align: center; }

.card-img-top {
  margin-top: 20px; }

.boton, .boton--iniciarSesion {
  margin: 10px;
  padding-bottom: 5px;
  background-color: #2EA67A;
  color: white;
  border: 3px outset #2EA67A;
  width: 100px;
  font-size: 1.3rem; }

.boton--iniciarSesion {
  width: 200px; }
  .boton--iniciarSesion:hover {
    background-color: #2EA67A;
    border: 3px outset #2EA67A;
    transform: scale(0.8, 0.8); }

#nuevoRegistro {
  margin-top: 40px; }

.form-control:focus {
  border-color: #2EA67A;
  box-shadow: 0 0 0 0.3rem #28A74646; }

.boton:hover, .boton--iniciarSesion:hover {
  transform: scale(0.8, 0.8); }

/* Animacion para promociones */
@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.imagenPromoJulio {
  max-width: 100vw;
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: infinite; }

.tituloUbicacion {
  background: radial-gradient(#000, #191659);
  color: #fff;
  text-align: center;
  margin: 10px 0 10px 0;
  padding-top: 10px;
  padding-bottom: 15px; }

.mapa {
  height: 20vw; }

/*  Encabezado de Secciones */
.tituloSeccion {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center; }

/*  ------------------------ MAIN Página Sobre Nosotros ------------------------ */
.valores {
  margin-top: 30px; }

.imagenValores {
  width: 100%; }

.objetivos {
  margin: 30px 0 100px 0; }

/*  ------------------------ MAIN Página Cascos ------------------------ */
.form-select:focus {
  border-color: #2EA67A;
  box-shadow: 0 0 0 0.3rem #28A74646; }

.productoCasco {
  margin: 15px;
  border: 3px outset #D92525;
  width: 250px; }

.filtros {
  margin: 20px 0 10px 30px; }

.talles {
  margin-top: 30px;
  margin-bottom: 30px; }

.verMasProductos {
  margin-top: 10px;
  padding-bottom: 5px;
  background-color: #191659;
  color: white;
  border: 3px outset #191659;
  width: 200px;
  font-size: 1.3rem; }

.filtrosMobile {
  display: none; }

/*  ------------------------ Estilos para Vista Mobile ------------------------ */
@media only screen and (max-width: 576px) {
  .botas:hover {
    transform: scale(0.8, 0.8);
    margin-left: 0; }
  .cascos:hover {
    transform: scale(0.8, 0.8); }
  .guantes:hover {
    transform: scale(0.8, 0.8);
    margin-left: 0; }
  .mapa {
    height: 60vw; }
  /* Pagina Cascos -- Ocultar Columna izquierda de Filtros */
  #filtros {
    display: none; }
  .filtrosMobile {
    display: block; } }
