*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
/*  ------------------------ HEADER ------------------------------------------------------------------ */
#header{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-areas: "logo menu buscar";
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

nav ul li a:link, a:visited, a:active{
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

#logo{
    grid-area: logo;
}

#menu{
    grid-area: menu;
}

#buscar{
    grid-area: buscar;
    align-items: center;
}

#sliderPrincipal img{
    max-width: 100vw;
}

/*  ------------------------ MAIN Página INDEX ------------------------------------------------------------------------- */

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: "sliderPrincipal"
                         "beneficios"
                         "categoriasDestacadas"
                         "marcas"
                         "productosMasVendidos"
                         "promoJulio"
                         "ubicacion"
                         "footer";
}

/*  ------------------------ MAIN Página INDEX - Sección Beneficios ----------------------------------------------------------- */
.beneficios{
    grid-area: beneficios;
}

.beneficiosGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "envios cuotas cambios";
    max-width: 100vw;
    max-height: 70px;
}

#envios{
    grid-area: envios;
}

#envios img{
    max-width: 33vw;
}

#envios img:hover{
    /* transform: scale(1.1,1.1);
    border: 4px solid rgb(217, 7, 7); */
    transform: rotate(-5deg);
}

#cuotas{
    grid-area: cuotas;
}

#cuotas img{
    max-width: 33vw;
}

#cuotas img:hover{
    transform: rotate(-5deg);
}

#cambios{
    grid-area: cambios;
}

#cambios img{
    max-width: 33vw;
}

#cambios img:hover{
    transform: rotate(-5deg);
}

/*  ------------------------ MAIN Página INDEX - Sección Categorias Destacadas ------------------------------------------------- */

#categoriasDestacadas{
    grid-area: categoriasDestacadas;
}

.categoriasDestacadasGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "tituloCategoriasDestacadas tituloCategoriasDestacadas tituloCategoriasDestacadas"
                         "botas cascos guantes";
    max-width: 100vw;
}

.tituloCategoriasDestacadas{
    grid-area: tituloCategoriasDestacadas;
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
}

.botas{
    grid-area: botas;
}

.botas img{
    max-width: 33vw;
}

.botas img:hover{
    transform: scale(1.1,1.1);
}

.cascos{
    grid-area: cascos;
}

.cascos img{
    max-width: 33vw;
}

.cascos img:hover{
    transform: scale(1.1,1.1);
}

.guantes{
    grid-area: guantes;
}

.guantes img{
    max-width: 33vw;
}

.guantes img:hover{
    transform: scale(1.1,1.1);
}

/*  ------------------------ MAIN Página INDEX - Sección Promo Logos de Marcas ------------------------------------------------ */

#marcas{
    grid-area: marcas;
}

.marcasGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "tituloPromo"
                         "logoMarcas";
    max-width: 100vw;
}

.tituloPromo{
    grid-area: tituloPromo;
    text-align: center;
    color: #fff;
    font-weight: 700;
    background: linear-gradient(red,black);
    padding: 20px;
}

.tituloPromo h2{
    max-width: 100vw;
}

.logoMarcas{
    grid-area: logoMarcas;
}

.logoMarcas img{
    max-width: 100vw;
}

/*  ------------------------ MAIN Página INDEX - Sección Productos mas vendidos ------------------------------------------------ */

#productosMasVendidos{
    grid-area: productosMasVendidos;
}

.productosMasVendidosGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 7vh 1fr;
    grid-template-areas: "tituloProductosMasVendidos tituloProductosMasVendidos tituloProductosMasVendidos"
                         "producto1 producto2 producto3";
    max-width: 100vw;
}

.productoMasVendido{
    display: inline-block;
    text-align: center;
    justify-content: center;
    margin: 20px;
    border: 3px outset #b02c2a;
    max-width: 30vw;
}

.tituloProductosMasVendidos{
    grid-area: tituloProductosMasVendidos;
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
}

.producto1{
    grid-area: producto1;
}

.producto1 img{
    max-width: 25vw;
}

.producto2{
    grid-area: producto2;
}

.producto2 img{
    max-width: 25vw;
}

.producto3{
    grid-area: producto3;
}

.producto3 img{
    max-width: 25vw;
}

.btnComprar, #enviarMensaje{
    margin: 10px;
    padding-bottom: 5px;
    background-color: #2EA67A;
    color: white;
    border: 3px outset #2EA67A;
    width: 100px;
    font-size: 1.3rem;
}

.btnComprar:hover{
    transform: scale(0.8,0.8);
}

/*  ------------------------ MAIN Página INDEX - Sección Promo Mes de Julio  ------------------------------------------------ */

.promoJulio{
    grid-area: promoJulio;
}

.promoJulioGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "tituloPromo"
                         "imagenPromoJulio";
    max-width: 100vw;
}

.imagenPromoJulio{
    grid-area: imagenPromoJulio;
}

.imagenPromoJulio img{
    max-width: 100vw;
}


/*  ------------------------ MAIN Página INDEX - Sección Ubicación  ------------------------------------------------ */

.ubicacion{
    grid-area: ubicacion;
}

.ubicacionGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7vh 1fr;
    grid-template-areas: "tituloUbicacion"
                         "mapa";
    max-width: 100vw;
    background: radial-gradient(black,#191659);
    color: #fff;
}

.ubicacionGrid .mapa{
    width: 100vw;
    height: 20vw;
}

.tituloUbicacion{
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
}

/*  ------------------------ FOOTER ----------------------------------------------------------------------- */

#footer{
    grid-area: footer;
}

.footerGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "footerColumna1 footerColumna2 footerColumna3"
                         "copyright copyright copyright";
    max-width: 100vw;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0;
}

.footerColumna1{
    grid-area: footerColumna1;
}

.footerColumna2{
    grid-area: footerColumna2;
}

.footerColumna3{
    grid-area: footerColumna3;
}

.enlaces{
    text-decoration: none;
    color: #2E3159;
}

.copyright{
    grid-area: copyright;
    width: 100vw;
    height: 5vh;
    background-color: #191659;
    color: #fff;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    background: linear-gradient(#191659, black);
}

/*  ------------------------ MAIN Página INICIAR SESION ----------------------------------------------------------------------- */

#mainIniciarSesion{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "tituloIniciarSesion"
                         "breadcrumbIniciarSesion"
                         "subTituloIniciarSesion"
                         "formIniciarSesion";
    justify-items: center;
    max-width: 100vw;
}

.tituloIniciarSesion{
    grid-area: tituloIniciarSesion;
}

.breadcrumbIniciarSesion{
    grid-area: breadcrumbIniciarSesion;
}

.subTituloIniciarSesion{
    grid-area: subTituloIniciarSesion;
}

.formIniciarSesion{
    grid-area: formIniciarSesion;
}

/* Estilos Página Iniciar Sesión */

.formIniciarSesion{
    padding: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.formIniciarSesion p{
    font-size: 1.5rem;
}

/* Botón Iniciar Sesión */
#iniciarSesion{
    margin: 10px auto 10px 130px;
    padding-bottom: 5px;
    background-color: #2EA67A;
    color: white;
    border: 3px outset #2EA67A;
    width: 200px;
    font-size: 1.3rem;
}

#emailIniciarSesion{
    width: 500px;
}

#olvido{
    margin: 10px 0 10px 160px;
    font-size: 1rem;
}

#nuevoRegistro{
    margin-top: 100px;
    font-size: 1.2rem;
    text-align: center;
}

/*  ------------------------ MAIN Página CASCOS --------------------------------------------------------------- */
#filtrosIzquierda{
    vertical-align: top;
    display: inline-block;
    width: 15%;
    padding-left: 30px;
}

#filtrosIzquierda h2{
    text-align: left;
}

#filtroOrdenar select{
    display: inline-block;
}

#listaCascos{
    display: inline-block;
    width: 80%;
}

.casco{
    display: inline-block;
    text-align: center;
    margin: 20px;
    border: 3px outset #b02c2a;
    width: 18%;
}

.casco img{
    width: 100%;
}

.verMasProductos{
    display: block;
    margin-top: 10px;
    margin-left: 530px;
    padding-bottom: 5px;
    background-color: #191659;
    color: white;
    border: 3px outset #191659;
    width: 200px;
    font-size: 1.3rem;
}

/*  ------------------------ MAIN Página CONTACTO --------------------------------------------------------------- */

#datosContacto{
    text-align: center;
}

#datosContacto h3{
    margin-top: 20px;
}

.formularioContacto{
    width: 700px;
    margin: 30px auto 30px auto;
    font-size: 1.5rem;
}

.contenidoFormulario{
    padding: 20px;
}

.contenidoFormulario h3{
    font-size: 1rem;
    font-weight: 200;
}

.contenidoFormulario #nombre, #email, #telefono, #mensaje, #contrasena{
    width: 500px;
}

.contenidoFormulario p{
    font-size: 1.5rem;
}

.contenidoFormulario a{
    font-size: 1.2rem;
    text-align: center;
}

/*  ------------------------ Estado inicial de componentes Mobile en vista Desktop ------------------------ */

#menuMobile{
    display: none;
}

#buscarMobile{
    display: none;
}

/*  ------------------------ Estilos Vista Mobile 480px --------------------------------------------------------- */

@media only screen and (max-width: 480px){
    #header{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 1rem;
        grid-template-areas: "logo"
                            "menuMobile"
                            "buscar";
    }
    #logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #menu{
        display: none;
    }
    #navegacionPrincipal{
        display: none;
    }
    #menuMobile{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #buscar{
        display: none;
    }
    #buscarMobile{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .beneficiosGrid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "envios"
                             "cuotas"
                             "cambios";
                             margin-bottom: 100px;
    }

    #envios img{
        max-width: 100vw;
    }

    #cuotas img{
        max-width: 100vw;
    }

    #cambios img{
        max-width: 100vw;
    }

    .categoriasDestacadasGrid{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "tituloCategoriasDestacadas"
                             "botas"
                             "cascos"
                             "guantes";
        max-width: 100vw;
    }

    .botas img{
        max-width: 100vw;
    }

    .cascos img{
        max-width: 100vw;
    }

    .guantes img{
        max-width: 100vw;
    }

    .productosMasVendidosGrid{
        grid-template-columns: 1fr;
        grid-template-rows: 7vh 1fr 1fr 1fr;
        grid-template-areas: "tituloProductosMasVendidos"
                             "producto1"
                             "producto2"
                             "producto3";
        max-width: 100vw;
    }

    .productoMasVendido{
        max-width: 100vw;
        padding: 10px;
    }

    .producto1 img{
        max-width: 50vw;
    }

    .producto2 img{
        max-width: 50vw;
    }

    .producto3 img{
        max-width: 50vw;
    }

    .tituloPromo{
        background-repeat: no-repeat;
        margin-bottom: 5px;
        padding: 0 5px 0 5px;
        font-size: 1.2rem;
    }

    .ubicacionGrid .mapa{
        width: 100vw;
        height: 30vh;
    }

    #footer{
        grid-area: footer;
        display: none;
    }
}