@import './utilities/variables';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import './layout/header';
@import './layout/footer';

/* Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
  }

  .row{
    margin: 0;
    padding: 0;
  }

  /*  ------------------------ MAIN Página INDEX ------------------------ */

  .servicios {
    padding: 12px;
  }

  .tituloCategoriasDestacadas {
    text-align: center;
    margin: 10px 0 10px 0;
  }

  .botas:hover {
    transform: scale(1.1, 1.1);
    margin-left: 35px;
  }

  .cascos:hover {
    transform: scale(1.1, 1.1);
  }

  .guantes:hover {
    transform: scale(1.1, 1.1);
    margin-left: -35px;
  }

  .marcas {
    margin-top: 10px;
  }

  .marcas img{
    border-radius: 5px;
  }

@mixin fondoPromo($colorFondo){
    text-align: center;
    color: #fff;
    font-weight: 700;
    background: linear-gradient($colorPrincipal, $colorFondo);
    padding: 20px;
}

  .tituloPromoPrincipal {
    @include fondoPromo($colorAlternativo1)
  }

  .tituloPromoSecundario {
    @include fondoPromo($colorAlternativo2)
  }

  .tituloProductosMasVendidos {
    text-align: center;
    margin: 10px 0 10px 0;
  }

  .productoMasVendido {
    margin: 15px;
    border: 3px outset $colorAlternativo1A;
    width: 450px;
  }

  .nombreProducto {
    color: $colorPrincipal;
    font-weight: bold;
    text-align: center;
    font-size: 1.8rem;
  }

  .precioProducto {
    color: $colorAlternativo1A;
    margin: 5px;
    text-align: center;
    font-size: 1.2rem;
  }

  .card-body {
    text-align: center;
  }

  .card-img-top {
    margin-top: 20px;
  }

  .boton {
    margin: 10px;
    padding-bottom: 5px;
    background-color: $colorAlternativo2;
    color: white;
    border: 3px outset $colorAlternativo2;
    width: 100px;
    font-size: 1.3rem;
  }

  .boton--iniciarSesion {
    @extend .boton;
    width: 200px;

    &:hover{
      background-color: $colorAlternativo2;
      border: 3px outset $colorAlternativo2;
      transform: scale(0.8, 0.8);
    }
  }

  #nuevoRegistro {
    margin-top: 40px;
  }

  .form-control:focus {
    border-color: $colorAlternativo2;
    box-shadow: 0 0 0 0.3rem $colorAlternativo2A;
  }

  .boton:hover {
    transform: scale(0.8, 0.8);
  }

  /* Animacion para promociones */
  @keyframes aparecer {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .imagenPromoDescuento {
    max-width: 100vw;
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
  }

  .tituloUbicacion {
    background: radial-gradient($colorPrincipal, $colorAlternativo3);
    color: #fff;
    text-align: center;
    margin: 10px 0 10px 0;
    padding-top: 10px;
    padding-bottom: 15px;
  }

  .mapa {
    height: 20vw;
  }

  /*  Encabezado de Secciones */
  .tituloSeccion {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }

  /*  ------------------------ MAIN Página Sobre Nosotros ------------------------ */
  .inicios{
    font-size: 1.5rem;
    line-height: 3rem;
  }

  .valores {
    margin-top: 30px;
  }

  .imagenValores{
    width: 100%;
  }

  .objetivos {
    margin: 30px 0 100px 0;
  }

  /*  ------------------------ MAIN Página Cascos ------------------------ */

  .form-select:focus {
    border-color: $colorAlternativo2;
    box-shadow: 0 0 0 0.3rem $colorAlternativo2A;
  }

  .productoCasco {
    margin: 15px;
    border: 3px outset $colorAlternativo1;
    width: 250px;
  }

  .filtros {
    margin: 20px 0 10px 30px;
  }

  .talles {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .verMasProductos {
    width: 200px;
    font-size: 1.3rem;
  }

  #filtrosAcordeon{
    display: none;
    width: 290px;
    color: $colorPrincipal;
  }

  /*  ------------------------ Estilos para Vista Mobile ------------------------ */

  @media only screen and (max-width: 576px) {
    .botas:hover {
      transform: scale(0.8, 0.8);
      margin-left: 0;
    }

    .cascos:hover {
      transform: scale(0.8, 0.8);
    }

    .guantes:hover {
      transform: scale(0.8, 0.8);
      margin-left: 0;
    }

    .mapa {
      height: 60vw;
    }

    /* Pagina Cascos -- Ocultar Columna izquierda de Filtros */
    #filtros {
      display: none;
    }

    #filtrosAcordeon{
      display: block;
    }
  }