/* Paleta de Colores */
$colorPrincipal: #000;
$colorAlternativo1: #D92525;
$colorAlternativo1A: #730202;
$colorAlternativo2: #2EA67A;
$colorAlternativo2A: #28A74646;
$colorAlternativo3: #191659;
$colorAlternativo3A: #2E3159;
