$redesSociales:(
  facebook: #3b5998,
  instagram: #833AB4,
  twitter: #1DA1F2
);

$estilos:(
  margenEstandar: 5px
);

/* Bucle para definir estilos del mapa redesSociales */
@each $red, $color in $redesSociales{
  .btn--#{$red}{
    color: $color;
    font-size: 2rem;
    margin: map-get($estilos, margenEstandar);
  }
}

footer {
    margin-top: 20px;
  }

  .colPiePagina ul {
    padding-left: 0;
  }

  .colPiePagina ul li {
    list-style-type: none;
  }

  .enlaces {
    color: #2E3159;
    text-decoration: none;
  }

  .copyright {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    background: linear-gradient(#191659, black);
  }