@import '../utilities/variables';

/* Estilos del Menú principal */
.menu {
    color: $colorPrincipal;
    font-size: 2rem;
  }

/* Borde de color a menu hamburguesa */
.navbar {
    --bs-navbar-toggler-border-color: red;  }

  /* Estilos para botón Buscar */
  .btnBuscar {
    background-color: $colorAlternativo2;
    color: white;
    border: 3px outset $colorAlternativo2;
    font-size: 1rem;

    &:hover{
      transform: scale(0.8, 0.8);
    }
    }